In [1]:
import csv
import pandas as pd 
import sqlite3

# Step 1 Download the dataset and save it using Curl.

In [4]:
# Here I use the '-o' option to save the file with the name 'population.csv'
!curl -o population.csv "https://public.opendatasoft.com/api/explore/v2.1/catalog/datasets/geonames-all-cities-with-a-population-1000/exports/csv?lang=en&timezone=Europe%2FBerlin&use_labels=true&delimiter=%3B"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 25.8M    0 25.8M    0     0   901k      0 --:--:--  0:00:29 --:--:-- 1349k:--  842kk      0 --:--:--  0:00:26 --:--:-- 1092k

# Step 2 review the dataset

In [5]:
# First we open the csv file using the sep parameter since the file is separated
# by semicolon, not by comas
df = pd.read_csv('population.csv', sep = ';')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140938 entries, 0 to 140937
Data columns (total 20 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Geoname ID               140938 non-null  int64
 1   Name                     140937 non-null  object
 2   ASCII Name               140936 non-null  object
 3   Alternate Names          116605 non-null  object
 4   Feature Class            140938 non-null  object
 5   Feature Code             140938 non-null  object
 6   Country Code             140893 non-null  object
 7   Country name EN          140770 non-null  object
 8   Country Code 2           81 non-null      object
 9   Admin1 Code              140911 non-null  object
 10  Admin2 Code              121928 non-null  object
 11  Admin3 Code              68829 non-null   object
 12  Admin4 Code              20569 non-null   object
 13  Population               140938 non-null  int64
 14  Elevation                27653 non-null   float64
 15  DIgital Elevation Model  140938 non-null  int64
 16  Timezone                 140938 non-null  object
 17  Modification date        140938 non-null  object
 18  LABEL EN                 140770 non-null  object
 19  Coordinates              140938 non-null  object
dtypes: float64(1), int64(3), object(16)
memory usage: 21.5+ MB

In [ ]:
# Since we are going to use SQLite and we canÂ´t have spaces in the column names,
# we are going to rename the columns, replacing the spaces whith underscore and 
# convert the names into lower case 

df.rename(columns=lambda x: x.lower().replace(' ', '-'), inplace=True)

#